/* .mainContainer {
  height: 100%;
  width: 100%;
  margin-top: 120px;
}

   */


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* .navi{
  height: 100px;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  color: aliceblue;

}

ul.NavigationMenus {
  display:flex;
  align-items:center;
  margin-left: auto;
  padding: 0;


}

ul.NavigationMenus li {
  list-style: none;
  margin-right: 50px;

}

ul.NavigationMenus li a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  position: relative;
  padding-bottom: 5px;
}

ul.NavigationMenus li a:after {
  content: "";
  display: block;
  position: absolute;
  background-color: #fff;
  height: 1px;
  width: 0%;
  bottom: 0;
  transition: 0.3s;
  margin: 0px auto;
  left: 0;
  right: 0;
}

ul.NavigationMenus li a:hover:after {
  width: 100%;
  transition: 0.3s;
}*/

/* .naviName{
  height: 50px;
  width: 50px;
  position: absolute;
}

.naviLogo{
  height:50px;
  width: 50px;
  position: absolute;

  

}  */

/* .Navigation {
  color: #d3d3d3;
  background-color: #000000;
  width: 100%;
  padding: 5px;
  height: 80px;
  position: relative;
  position: fixed;
  top: 0;
  z-index: 999;
}

ul.NavigationMenus {
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: auto;
  position: relative;
  justify-content: flex-start;
}

ul.NavigationMenus li {
  list-style: none;
  margin-right: 30px;

}

ul.NavigationMenus li a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  position: relative;
  padding-bottom: 5px;
}

ul.NavigationMenus li a:after {
  content: "";
  display: block;
  position: absolute;
  background: #fff;
  height: 1px;
  width: 0%;
  bottom: 0;
  transition: 0.3s;
  margin: 0px auto;
  left: 0;
  right: 0;
}

ul.NavigationMenus li a:hover:after {
  width: 100%;
  transition: 0.3s;
} */